pyrogram
tgcrypto
pytube
sqlalchemy==1.3.20
psycopg2
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
py-tgcalls==0.5.5
ffmpeg-python
googletrans==4.0.0rc1
ffmpeg
Pillow
python-arq
future
psutil
wget
tswift
yt_dlp
gTTS
speedtest-cli
motor
dnspython
bs4
pyaml
yt_dlp
httpx==0.13.3
heroku3
gitpython
